<div class="container mx-auto p-4 relative pb-[80px]">
  <nav class="flex justify-between items-center bg-red-700 p-4 rounded-lg shadow-lg">
    <ul class="flex space-x-6 items-center">
      <a href="#">
        <img src="logo.png" alt="Logo Netflix" width="40px" class="hidden lg:block">
      </a>
      <li><a routerLink="/film/" class="hover:text-black uppercase hidden">Film</a></li>
      <li><a routerLink="/serie-tv/" class="hover:text-black uppercase hidden">Serie TV</a></li>
      <li><a routerLink="/film-scorsese/:title" class="hover:text-black uppercase hidden">Scorsese</a></li>
      <li><a routerLink="/mia-lista" class="hover:text-black uppercase">La mia lista</a></li>
      <li><a routerLink="/register" class="hover:text-black uppercase hidden lg:block">Registrati</a></li>
      <li><a routerLink="/login" class="hover:text-black uppercase hidden lg:block">Login</a></li>
      <li (click)="onLogout()" class="hover:text-black uppercase cursor-pointer hidden lg:block">Logout</li>
    </ul>
    <div class="flex items-center space-x-4">
      <input 
        [(ngModel)]="searchQuery" 
        placeholder="Ricerca film o Serie TV" 
        class="p-2 rounded-full border bg-black border-black text-white hidden sm:block"
      />
      <button 
        (click)="search(currentPage, pageSize)" 
        class="bg-black text-white px-4 py-2 rounded lg:rounded-full hover:bg-gray-800 transition duration-200"
      >
        Cerca film
      </button>
    </div>
  </nav>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-6">
    <div *ngFor="let movie of movies">
      <app-card [movie]="movie" (addMovie)="addToMyList($event)"></app-card>
    </div>
  </div>
</div>

<mat-paginator
class="fixed bottom-0 w-full"
[length]="totalItems"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)"
            aria-label="Select page">
</mat-paginator>